body {
  background-color: rgb(235, 229, 204); /* Background */
  color: #606c38; /* General text color */
}

h1,
h2,
h5 {
  color: #606c37; /* Title */
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: #606c37; /* Subtitle */
}
p {
  font-size: 1.1rem;
}
li {
  font-size: 1.1rem;
}
.taviraj-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 800;
  font-style: normal;
}

.abajo {
  margin: 2rem 0;
}

#cards {
  background-image: url("recursos/accionesimg.png");
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  border-radius: 30px;
  height: fit-content;
  box-shadow: inset 0 -6px 8px rgba(0, 0, 0, 0.185);
  position: relative;
}

#cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(206, 206, 206, 0.233); /* Ajusta la opacidad según lo que necesites */
  z-index: 1;
  border-radius: 30px;
  pointer-events: none; /* Permite interactuar con el contenido debajo */
}

#cards h2 {
  position: relative;
  padding: 1rem;
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 4px 8px #0000007c;
  z-index: 3;
}

.card {
  margin-bottom: 1rem;
  background-color: #d0d7a1a9; /* Card Background */
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  z-index: 2; /* Asegúrate de que las tarjetas estén por encima del pseudo-elemento */
  
}
.card-body img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(95, 95, 95, 0.219);
  margin-bottom: 1rem;
}

.card-title {
  color: #606c38; /* Title inside cards */
}

.btn-primary {
  background-color: #e4eac3; /* Button */
  color: #606c38; /* Button text */
  border: none;
  box-shadow: 0 1px 4px rgba(95, 95, 95, 0.219);
}

.btn-primary:hover {
  background-color: #606c37; /* Button hover */
  color: #e4eac3;
}

footer {
  background-color: #d0d7a1; /* Footer background */
  color: #606c38; /* Footer text */
  padding: 20px;
  border-top: 2px solid #a9b57c;
}

.navbar {
  color: #606c38;
}

.navbar-brand img {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#fondoprron {
  background-color: #ebe5cca9;
  padding: 0 2em;
  border-radius: 10px;
  backdrop-filter: blur(8px);
}

#basic-info-text{
  background-image: url("recursos/carton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 3 / 2;
  width: 60%;
}

@media (max-width: 768px) {
  #basic-info-text {
    width: 100%;
  }
}

#basic-info-text p {
  align-content: center;
  padding: 3rem;
}

.hero-section {
  background-image: url("recursos/heroimg1.png");
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  animation: efecto ease-in-out infinite 20s;
  height: 100vh;
  box-shadow: inset 0 -6px 8px rgba(0, 0, 0, 0.185);
}

@keyframes efecto {
  20% {
    background-image: url("recursos/heroimg2.png");
  }
  40% {
    background-image: url("recursos/heroimg3.png");
  }
  60% {
    background-image: url("recursos/heroimg4.png");
  }
  80% {
    background-image: url("recursos/heroimg5.png");
  }
}

.hero-content {
  background-color: #d0d7a1a9;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section h1 {
  color: #606c38; /* Hero title */
}

.hero-section p {
  color: rgb(26, 25, 25); /* Hero subtitle */
}

.hero-section .btn {
  background-color: #e4eac3; /* Hero button */
  color: #606c38;
  border: none;
}

.hero-section .btn:hover {
  background-color: #d0d7a1;
  color: #606c38;
}

#heroimg {
  border-radius: 50px;
}

.bordeizq li {
  list-style-type: decimal;
  border-left: 4px solid #606c38;
  padding: 1rem;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.redondeta {
  border-radius: 10px;
}

#tabla {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ol,
ul {
  list-style-position: inside; /* Mueve el marcador dentro del margen */
}

.fullfil {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  background-color: #d0d7a1; /* Table background */
  color: #606c38;
}

.table th,
.table td {
  border-color: #a9b57c;
}

iframe {
  border: 2px solid #a9b57c;
  border-radius: 10px;
}
